html, body, .canvas {
	margin: 0px;
	padding: 0px;
	height: 100%;
  width: 100%;
}

.canvas {
  background: #87CEFA;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}








	
	